*
!.gitignore
!README.md
!index.html
!fmds_v5_completo.html
!firebase.json
!netlify.toml
!.firebaserc
!firebase.runtime-config.js
!inmet_proxy.py
!run_vps_sync.ps1
!vps_connector.py
!data/
!data/vps/
!data/vps/**

# Local Netlify folder
.netlify
